<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  <script src="/javascript/main.js"></script>
  <title>Black Jack!</title>
</head>
<body>
  <div class="header-container">
    <div class="title">Welcome to Black Jack</div>
  </div>
  <div class="dealer-cards-container">
    <div class="card-container">
      <img src="/cards/2D.png">
    </div>
    <div class="card-container">
      <img src="/cards/2C.png">
    </div>
  </div>
  <div class="actions-container">
    <div class="button" id="deal">Deal</div>
    <div class="button" id="hit">Hit</div>
    <div class="button" id="stay">Stay</div>
    <div class="button" id="double">Double</div>
    <div class="button" id="split">Split</div>
  </div>
</body>
</html>