<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  <script src="/javascript/main.js"></script>
  <title>Black Jack!</title>
</head>
<body>
  <div class="game-position">
    <div class="header-container">
      <div class="title">Black Jack</div>
    </div>
    <div class="cards-container" id="dealer-cards">
    </div>
    <div class="cards-container" id="player-cards">
    </div>
    <div class="player-actions">
      <div class="betting-container">
        <div class="bet-amounts">
          <div class="coin" id="bet-five">5</div>
          <div class="coin" id="bet-ten">10</div>
          <div class="coin" id="bet-twenty-five">25</div>
        </div>
        <div>
          <div class="bet-value">Bet: <span id="bet-amount"></span></div>
        </div>
      </div>
      <div class="actions-container">
        <div class="button" data-click-state="1" id="deal">Deal</div>
        <div class="button button-completed" data-click-state="0" id="hit">Hit</div>
        <div class="button button-completed" data-click-state="0" id="stay">Stay</div>
        <div class="button button-completed" data-click-state="0" id="double">Double</div>
        <div class="button button-completed" data-click-state="0" id="split">Split</div>
      </div>
    </div>
  </div>
</body>
</html>