<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/javascript/main.js"></script>
  <title>Black Jack!</title>
</head>
<body>
    <button><a href="/log-in">Log in</a></button>
    <button><a href="/sign-up">Sign up</a></button>
</body>

<link rel="stylesheet" type="text/css" href="/styles/main.css">
</html>