<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign up!</title>
</head>
<body>
  <div>
    <form method='POST' action='/sign-up'>
      <input name="username" type="text" placeholder="username"></input>
      <input name="password" type="password"></input>
      <input type='submit' value='Create User'></button>
    </form>
  </div>
</body>
</html>